body,
html {
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-left: 250px;
  box-sizing: border-box;
}

.page-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.main-content1 {
  width: 800px;
  border: 1px solid black;
  padding: 20px;
}

.squares {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.square1 {
  grid-area: 1 / 1 / 2 / 2;
}

.square2 {
  grid-area: 1 / 2 / 2 / 3;
}

.square3 {
  grid-area: 2 / 2 / 3 / 3;
}

.square4 {
  grid-area: 2 / 1 / 3 / 2;
}

.square1,
.square2,
.square3,
.square4 {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image {
  width: 400px;
  height: 400px;
  img {
    height: auto;
    width: 100%;
  }
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: grey;
  padding: 20px;
  box-sizing: border-box;

  button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  img {
    height: 200px;
    width: 200px;
  }
}
